# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Allow specific json if needed, but not the huge ones.
# parse_result.json is 110MB -- don't commit.
# stats_result.json is small but probably temporary.
*.json
!package.json
!package-lock.json
!components.json
!tsconfig.json

# Allow public files but exclude some?
public/
!public/index.html
!public/favicon.ico
!public/file.svg
!public/globe.svg
!public/next.svg
!public/vercel.svg
!public/window.svg
